body{
    background-color: #2b2a2a;
}
div{
    width: 90%;
    margin: auto;
    height: 700px;
    display: flex;
    text-align: left;
}
.form{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ffb400;
    margin-top: 50px;
    border-radius: 30px;
}
.form label{
    font-size: 25px;
}
.form input{
    padding: 10px 20px;
    background-color: #fff;
    border: 2px solid rgb(196, 235, 26);
    width: 300px;
    border-radius: 30px;
}
.form input:focus{
    outline: none;
    border-color: rgb(159, 91, 150);
}
.form button{
    margin-top: 20px;
    color: #fff;
    border: 2px solid rgb(57, 7, 56);
    padding: 10px 30px;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 20px;
    background-color: rgb(118, 12, 123);
    transition: .3s ease;
}
.form button:hover{
    background-color: rgb(212, 117, 219);
}
.form button:disabled,
.form button:disabled:hover,
.form button:disabled:active{
    cursor: not-allowed;
    background-color: rgb(225, 219, 219);
    color: #2b2a2a;
    border-color: 2px solid rgb(237, 234, 234);
}
.form .error-text{
    color: red;
}